#popular {

	background: linear-gradient(
		90deg,
		rgba(46, 86, 136, 1) 0%,
		rgba(73, 121, 171, 1) 9%,
		rgba(36, 103, 171, 1) 32%,
		rgba(13, 152, 158, 1) 55%,
		rgba(95, 147, 194, 1) 73%,
		rgba(1, 116, 156, 1) 88%,
		rgba(1, 110, 150, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
	padding: 30px 0;

	.popular {
		display: flex;
		align-items: start;
		justify-content: center;
		flex-wrap: wrap;
		&--pagin {
			margin: 40px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 25px;

			color: white;
			// margin-left: 200px;
			&__text {
				display: flex;
justify-content: center;
align-items: center;

				margin: 0 30px;
                h3{
                    margin:  0 5px  ;
                    text-align: center;
					padding: 0 10px;

					height: 35px;
					border-radius: 10px;
					border: 3px solid rgb(13, 185, 224);    
                }
				h4 {
                    margin:  0 5px  ;
                    text-align: center;
					padding: 0 10px;

					height: 30px;
					border-radius: 10px;
					border: 2px solid white;
				}
			}
		}
	}
}
